<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Encription</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link type = "text/css" rel = "stylesheet" href = "/encription.css" />
</head>
<body class="container">
<h1>
Encription
<a href="/new-entry" class="btn btn-primary pull-right" id ="guestbook">
Write in the guestbook
</a>
</h1>
<div id="nav">
        <ul>
           <li><a href="/encription">Home</a></li>
           <li><a href="/reports">Reports</a></li>
           <li><a href="/advertisement">Advertisement</a></li>
        </ul>
     </div>