*{
	font:"Times New Roman";
	color: black;
}

body{
	background-image: url("image.jpg");
	background-repeat: repeat-x;
	margin: 10px;
	padding: 10px;
	background-attachment: fixed;
	background-size: cover;
	font-size: 17px;
	font-family: 'Times New Roman', Times, serif;
	background-color: whitesmoke;
}

h2{
	text-decoration: underline;
}

h1{
    font-family: verdana;
}
#nav{
	background-color: lightgrey;
	width: 500;
	height: 100;
}
#nav1{
	background-color: lightgrey;
	width: 1300px;
	height: 150px;
	text-decoration-color: black;
	text-align: center;
	padding-top: 30px;
	padding-right: 150px;
}
#btn{
	float: right;
}

p.footer{
	text-align: center;
	line-height:1.5em;
	font:"Palatino";
}

div#profile{
    margin:10px 1px 15px 1px;
   
}
#clientnav{
	background-color: white;
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	padding-left: 300px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	text-decoration-color: black;
	background-color:lightgrey;
	padding-left: 300px;
}
li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	margin: 0px;
	padding: 45px 95px;
	text-decoration: none;
}
li a:hover:not(.active) {
	background-color: white;
}
#AO2{
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}
#img1{
	background-color: white;
}


#contact{
	text-align: center;
	padding: 14px 80px;
	text-decoration: none;
}

/* CSS for tables */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
	padding: 8px;
	height: 30px;
}


 